### LSTM 을 활용한 주가 예측 모델
##### 대표적인 보조지표만 추가

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import datetime as dt


%matplotlib inline
warnings.filterwarnings('ignore')

In [2]:
import sqlite3
con = sqlite3.connect(r"C:\Users\구남이\OneDrive\바탕 화면\활동들\한이음 멘토링\stock.db")
df = pd.read_sql("SELECT * FROM '039490'", con, index_col=None)
df.rename(columns={'index':'date'}, inplace=True)
df = df.set_index('date')
df.index = pd.DatetimeIndex(df.index)
df.sort_index(ascending=True, inplace=True)
df

             open   high    low  close   volume
date
2004-04-23   6076   6799   5353   5353  1415109
2004-04-26   5436   5741   5261   5398   343283
2004-04-27   5452   5482   5033   5063   299489
2004-04-28   5071   5452   4995   5444   182604
2004-04-29   5117   5436   5025   5101   109911
...           ...    ...    ...    ...      ...
2022-05-11  87500  87500  85500  85800   108071
2022-05-12  84700  85300  82700  83200   104007
2022-05-13  84000  87400  83500  85800    86525
2022-05-16  86900  87600  85700  85900    55383
2022-05-17  85000  87600  85000  87600    55677

[4471 rows x 5 columns]

In [3]:
# 이동평균선 추가
ma = [5,20,60,120]
for days in ma:
    df['ma_'+str(days)] = df['close'].rolling(window = days).mean()

df.dropna(inplace=True)
df

,open,high,low,close,volume,ma_5,ma_20,ma_60,ma_120
date,,,,,,,,,
2004-10-14,3959,4066,3906,4035,171655,3940.8,3963.60,3421.083333,3346.366667
2004-10-15,4066,4096,3959,3990,128530,3959.2,3946.85,3442.283333,3335.008333
2004-10-18,3997,3997,3860,3868,77233,3944.0,3935.05,3461.383333,3322.258333
2004-10-19,3868,3914,3830,3853,63272,3935.0,3922.90,3481.183333,3312.175000
2004-10-20,3807,3853,3769,3769,118227,3903.0,3909.60,3499.450000,3298.216667
...,...,...,...,...,...,...,...,...,...
2022-05-11,87500,87500,85500,85800,108071,89460.0,94620.00,97348.333333,100015.833333
2022-05-12,84700,85300,82700,83200,104007,87480.0,93785.00,97120.000000,99788.333333
2022-05-13,84000,87400,83500,85800,86525,86360.0,93050.00,96945.000000,99603.333333
2022-05-16,86900,87600,85700,85900,55383,85740.0,92440.00,96716.666667,99435.833333
2022-05-17,85000,87600,85000,87600,55677,85660.0,91940.00,96520.000000,99286.666667

In [4]:
! pip install ta
import ta

H, L, C, V = df['high'], df['low'], df['close'], df['volume']

## 채널지표
df['Parabolic SAR'] = ta.trend.psar_down(
    high=H, low=L, close=C, fillna=True)
## 추세지표
df['MACD'] = ta.trend.macd(close=C, fillna=True)
## 시장강도지표
df['ROC'] = ta.momentum.roc(close=C, fillna=True)
df['MFI'] = ta.volume.money_flow_index(
    high=H, low=L, close=C, volume=V, fillna=True)
df['NVI'] = ta.volume.negative_volume_index(close=C, volume=V, fillna=True)
df['OBV'] = ta.volume.on_balance_volume(close=C, volume=V, fillna=True)
df['CCI'] = ta.trend.cci(high=H, low=L, close=C, fillna=True)
## 모멘텀지표
df['ADX'] = ta.trend.adx(high=H, low=L, close=C, fillna=True)
df['ADI'] = ta.volume.acc_dist_index(
    high=H, low=L, close=C, volume=V, fillna=True)
df['SRSI'] = ta.momentum.stochrsi(close=C, fillna=True)
df['SR'] = ta.momentum.stoch(close=C, high=H, low=L, fillna=True)
df['RSI'] = ta.momentum.rsi(close=C, fillna=True)
df['TSI'] = ta.momentum.tsi(close=C, fillna=True)
df['TRIX'] = ta.trend.trix(close=C, fillna=True)
df['WR'] = ta.momentum.williams_r(high=H, low=L, close=C, fillna=True)

df

Requirement already satisfied: ta in c:\anaconda3\envs\py64\lib\site-packages (0.10.1)
Requirement already satisfied: pandas in c:\anaconda3\envs\py64\lib\site-packages (from ta) (1.4.2)
Requirement already satisfied: numpy in c:\anaconda3\envs\py64\lib\site-packages (from ta) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda3\envs\py64\lib\site-packages (from pandas->ta) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda3\envs\py64\lib\site-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\anaconda3\envs\py64\lib\site-packages (from python-dateutil>=2.8.1->pandas->ta) (1.16.0)

,open,high,low,close,volume,ma_5,ma_20,ma_60,ma_120,Parabolic SAR,...,OBV,CCI,ADX,ADI,SRSI,SR,RSI,TSI,TRIX,WR
date,,,,,,,,,,,,,,,,,,,,,
2004-10-14,3959,4066,3906,4035,171655,3940.8,3963.60,3421.083333,3346.366667,4066.000000,...,171655,0.000000,0.000000,1.051387e+05,0.000000,80.625000,100.000000,0.000000,-93.381081,-19.375000
2004-10-15,4066,4096,3959,3990,128530,3959.2,3946.85,3442.283333,3335.008333,4066.000000,...,43125,66.666667,0.000000,3.477555e+04,0.000000,44.210526,0.000000,-100.000000,-0.002178,-55.789474
2004-10-18,3997,3997,3860,3868,77233,3944.0,3935.05,3461.383333,3322.258333,4066.000000,...,-34108,-100.000000,0.000000,-3.343754e+04,0.000000,3.389831,0.000000,-100.000000,-0.011623,-96.610169
2004-10-19,3868,3914,3830,3853,63272,3935.0,3922.90,3481.183333,3312.175000,4096.000000,...,-97380,-90.045662,0.000000,-6.206059e+04,0.000000,8.646617,0.000000,-100.000000,-0.026237,-91.353383
2004-10-20,3807,3853,3769,3769,118227,3903.0,3909.60,3499.450000,3298.216667,4085.360000,...,-215607,-110.500611,0.000000,-1.802876e+05,0.000000,0.000000,0.000000,-100.000000,-0.047711,-100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-11,87500,87500,85500,85800,108071,89460.0,94620.00,97348.333333,100015.833333,92289.505060,...,49229575,-189.708664,24.016382,1.167620e+07,0.000000,2.173913,21.028717,-35.840057,-0.233989,-97.826087
2022-05-12,84700,85300,82700,83200,104007,87480.0,93785.00,97120.000000,99788.333333,90931.604048,...,49125568,-209.031368,26.812631,1.161220e+07,0.000000,3.311258,17.870117,-41.172548,-0.275020,-96.688742
2022-05-13,84000,87400,83500,85800,86525,86360.0,93050.00,96945.000000,99603.333333,89285.283238,...,49212093,-147.749159,28.108887,1.162773e+07,0.465648,23.134328,29.305533,-41.365973,-0.313561,-76.865672
2022-05-16,86900,87600,85700,85900,55383,85740.0,92440.00,96716.666667,99435.833333,87968.226591,...,49267476,-111.587983,29.195412,1.158401e+07,0.482154,25.000000,29.710901,-41.369557,-0.348113,-75.000000
2022-05-17,85000,87600,85000,87600,55677,85660.0,91940.00,96520.000000,99286.666667,87968.226591,...,49323153,-91.956039,30.369908,1.163968e+07,0.754072,38.281250,36.388689,-39.049701,-0.374522,-61.718750

In [5]:
from sklearn.preprocessing import MinMaxScaler

# 피처값 스케일링
scaler = MinMaxScaler()

scaled_df = scaler.fit_transform(df.drop('close', axis=1))
scaled_df = pd.DataFrame(scaled_df, columns = df.drop('close', axis=1).columns)

In [6]:
# 타켓 스케일링
scaler1 = MinMaxScaler()
scaled_df['close'] = scaler1.fit_transform(df['close'].values.reshape(-1,1))

In [7]:
scaled_df

,open,high,low,volume,ma_5,ma_20,ma_60,ma_120,Parabolic SAR,MACD,...,CCI,ADX,ADI,SRSI,SR,RSI,TSI,TRIX,WR,close
0,0.003777,0.004016,0.003642,0.119625,0.003413,0.003428,0.000000,0.000860,0.003225,0.443445,...,0.425027,0.000000,0.294518,0.000000,0.806250,1.000000,0.565490,0.000000,0.806250,0.004173
1,0.004449,0.004199,0.003990,0.089071,0.003534,0.003313,0.000154,0.000774,0.003225,0.443213,...,0.509405,0.000000,0.291081,0.000000,0.442105,0.000000,0.000000,0.977135,0.442105,0.003890
2,0.004015,0.003596,0.003341,0.052727,0.003434,0.003232,0.000294,0.000677,0.003225,0.442403,...,0.298460,0.000000,0.287749,0.000000,0.033898,0.000000,0.000000,0.977036,0.033898,0.003121
3,0.003205,0.003090,0.003144,0.042836,0.003374,0.003148,0.000438,0.000601,0.003408,0.441703,...,0.311059,0.000000,0.286351,0.000000,0.086466,0.000000,0.000000,0.976883,0.086466,0.003026
4,0.002821,0.002718,0.002745,0.081771,0.003163,0.003057,0.000571,0.000495,0.003343,0.440740,...,0.285169,0.000000,0.280576,0.000000,0.000000,0.000000,0.000000,0.976659,0.000000,0.002496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4347,0.528723,0.512472,0.538159,0.074576,0.567238,0.626130,0.684249,0.734314,0.541295,0.277809,...,0.184918,0.361673,0.859703,0.000000,0.021739,0.210287,0.362818,0.974709,0.021739,0.519628
4348,0.511128,0.499065,0.519817,0.071697,0.554184,0.620395,0.682586,0.732588,0.533014,0.246397,...,0.160462,0.403783,0.856577,0.000000,0.033113,0.178701,0.332663,0.974280,0.033113,0.503237
4349,0.506730,0.511862,0.525057,0.059311,0.546800,0.615346,0.681311,0.731184,0.522973,0.237469,...,0.238025,0.423304,0.857336,0.465648,0.231343,0.293055,0.331569,0.973877,0.231343,0.519628
4350,0.524953,0.513081,0.539469,0.037247,0.542712,0.611156,0.679647,0.729913,0.514940,0.233338,...,0.283793,0.439666,0.855200,0.482154,0.250000,0.297109,0.331549,0.973515,0.250000,0.520258
4351,0.513014,0.513081,0.534884,0.037455,0.542184,0.607722,0.678215,0.728782,0.514940,0.241281,...,0.308641,0.457354,0.857920,0.754072,0.382812,0.363887,0.344668,0.973239,0.382812,0.530975

In [8]:
#train,test 분할
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(scaled_df.drop('close', 1), scaled_df['close'], test_size=0.3, random_state=0, shuffle=False)

In [9]:
# tensorflow dataset을 활용한 시퀀스 데이터셋 구성
import tensorflow as tf
def windowed_dataset(series, window_size, batch_size, shuffle):
    series = tf.expand_dims(series, axis=-1)
    ds = tf.data.Dataset.from_tensor_slices(series)
    ds = ds.window(window_size + 1, shift=1, drop_remainder=True)
    ds = ds.flat_map(lambda w: w.batch(window_size + 1))
    if shuffle:
        ds = ds.shuffle(1000)
    ds = ds.map(lambda w: (w[:-1], w[-1]))
    return ds.batch(batch_size).prefetch(1)

In [10]:
# hyper parameter 정의 
WINDOW_SIZE=20
BATCH_SIZE=32

In [11]:
# trian_data는 학습용 데이터셋, test_data는 검증용 데이터셋
train_data = windowed_dataset(y_train, WINDOW_SIZE, BATCH_SIZE, True)
test_data = windowed_dataset(y_test, WINDOW_SIZE, BATCH_SIZE, False)

In [12]:
 # 모델 생성
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Conv1D, Lambda
from tensorflow.keras.losses import Huber
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

model = Sequential([
    # 1차원 feature map 생성
    Conv1D(filters=32, kernel_size=5,
        padding="causal",
        #활성화함수를 relu로 정의
        activation="relu",
        input_shape=[WINDOW_SIZE, 1]),
    # LSTM
    LSTM(16, activation='tanh'),    
    Dense(16, activation="relu"),
    Dense(1)])

loss = Huber()
optimizer = Adam(0.005) ##3compile 시 optimizer는 adam으로 사용
model.compile(loss=Huber(), optimizer=optimizer, metrics=['mse'])

earlystopping = EarlyStopping(monitor='val_loss', patience=10)

filename = os.path.join('tmp', 'ckeckpointer.ckpt')
checkpoint = ModelCheckpoint(filename, 
                            save_weights_only=True,
                            save_best_only=True, 
                            monitor='val_loss',
                            verbose=1)

In [13]:
# 모델 학습
history = model.fit(train_data, 
                validation_data=(test_data), 
                epochs=50,   #50번 학습
                callbacks=[checkpoint, earlystopping])

Epoch 1/50
95/95 [==============================] - 15s 65ms/step - loss: 6.0876e-04 - mse: 0.0012 - val_loss: 0.0012 - val_mse: 0.0024

Epoch 00001: val_loss improved from inf to 0.00120, saving model to tmp\ckeckpointer.ckpt
Epoch 2/50
95/95 [==============================] - 4s 38ms/step - loss: 1.5345e-04 - mse: 3.0690e-04 - val_loss: 7.6799e-04 - val_mse: 0.0015

Epoch 00002: val_loss improved from 0.00120 to 0.00077, saving model to tmp\ckeckpointer.ckpt
Epoch 3/50
95/95 [==============================] - 4s 37ms/step - loss: 1.2143e-04 - mse: 2.4285e-04 - val_loss: 5.7049e-04 - val_mse: 0.0011

Epoch 00003: val_loss improved from 0.00077 to 0.00057, saving model to tmp\ckeckpointer.ckpt
Epoch 4/50
95/95 [==============================] - 4s 35ms/step - loss: 1.2326e-04 - mse: 2.4653e-04 - val_loss: 3.8464e-04 - val_mse: 7.6928e-04

Epoch 00004: val_loss improved from 0.00057 to 0.00038, saving model to tmp\ckeckpointer.ckpt
Epoch 5/50
95/95 [==============================] - 4s 39ms/step - loss: 1.4929e-04 - mse: 2.9859e-04 - val_loss: 8.1721e-04 - val_mse: 0.0016

Epoch 00005: val_loss did not improve from 0.00038
Epoch 6/50
95/95 [==============================] - 4s 39ms/step - loss: 1.0785e-04 - mse: 2.1570e-04 - val_loss: 0.0012 - val_mse: 0.0023

Epoch 00006: val_loss did not improve from 0.00038
Epoch 7/50
95/95 [==============================] - 4s 44ms/step - loss: 1.0239e-04 - mse: 2.0477e-04 - val_loss: 4.4520e-04 - val_mse: 8.9039e-04

Epoch 00007: val_loss did not improve from 0.00038
Epoch 8/50
95/95 [==============================] - 4s 39ms/step - loss: 9.1884e-05 - mse: 1.8377e-04 - val_loss: 2.0018e-04 - val_mse: 4.0037e-04

Epoch 00008: val_loss improved from 0.00038 to 0.00020, saving model to tmp\ckeckpointer.ckpt
Epoch 9/50
95/95 [==============================] - 4s 40ms/step - loss: 8.2989e-05 - mse: 1.6598e-04 - val_loss: 4.2802e-04 - val_mse: 8.5603e-04

Epoch 00009: val_loss did not improve from 0.00020
Epoch 10/50
95/95 [==============================] - 5s 45ms/step - loss: 9.7794e-05 - mse: 1.9559e-04 - val_loss: 1.8922e-04 - val_mse: 3.7844e-04

Epoch 00010: val_loss improved from 0.00020 to 0.00019, saving model to tmp\ckeckpointer.ckpt
Epoch 11/50
95/95 [==============================] - 4s 41ms/step - loss: 6.9278e-05 - mse: 1.3856e-04 - val_loss: 5.5652e-04 - val_mse: 0.0011

Epoch 00011: val_loss did not improve from 0.00019
Epoch 12/50
95/95 [==============================] - 4s 41ms/step - loss: 7.5485e-05 - mse: 1.5097e-04 - val_loss: 3.6337e-04 - val_mse: 7.2674e-04

Epoch 00012: val_loss did not improve from 0.00019
Epoch 13/50
95/95 [==============================] - 4s 41ms/step - loss: 6.1167e-05 - mse: 1.2233e-04 - val_loss: 2.0180e-04 - val_mse: 4.0360e-04

Epoch 00013: val_loss did not improve from 0.00019
Epoch 14/50
95/95 [==============================] - 4s 41ms/step - loss: 7.6718e-05 - mse: 1.5344e-04 - val_loss: 2.0393e-04 - val_mse: 4.0786e-04

Epoch 00014: val_loss did not improve from 0.00019
Epoch 15/50
95/95 [==============================] - 4s 40ms/step - loss: 5.6496e-05 - mse: 1.1299e-04 - val_loss: 2.7060e-04 - val_mse: 5.4119e-04

Epoch 00015: val_loss did not improve from 0.00019
Epoch 16/50
95/95 [==============================] - 4s 40ms/step - loss: 5.9762e-05 - mse: 1.1952e-04 - val_loss: 1.4609e-04 - val_mse: 2.9218e-04

Epoch 00016: val_loss improved from 0.00019 to 0.00015, saving model to tmp\ckeckpointer.ckpt
Epoch 17/50
95/95 [==============================] - 4s 39ms/step - loss: 5.7345e-05 - mse: 1.1469e-04 - val_loss: 2.1749e-04 - val_mse: 4.3498e-04

Epoch 00017: val_loss did not improve from 0.00015
Epoch 18/50
95/95 [==============================] - 4s 42ms/step - loss: 5.4743e-05 - mse: 1.0949e-04 - val_loss: 2.8064e-04 - val_mse: 5.6128e-04

Epoch 00018: val_loss did not improve from 0.00015
Epoch 19/50
95/95 [==============================] - 4s 41ms/step - loss: 5.9285e-05 - mse: 1.1857e-04 - val_loss: 3.3909e-04 - val_mse: 6.7817e-04

Epoch 00019: val_loss did not improve from 0.00015
Epoch 20/50
95/95 [==============================] - 4s 44ms/step - loss: 5.0973e-05 - mse: 1.0195e-04 - val_loss: 1.5966e-04 - val_mse: 3.1931e-04

Epoch 00020: val_loss did not improve from 0.00015
Epoch 21/50
95/95 [==============================] - 4s 42ms/step - loss: 5.2744e-05 - mse: 1.0549e-04 - val_loss: 1.7617e-04 - val_mse: 3.5233e-04

Epoch 00021: val_loss did not improve from 0.00015
Epoch 22/50
95/95 [==============================] - 4s 45ms/step - loss: 5.2594e-05 - mse: 1.0519e-04 - val_loss: 2.0423e-04 - val_mse: 4.0846e-04

Epoch 00022: val_loss did not improve from 0.00015
Epoch 23/50
95/95 [==============================] - 5s 44ms/step - loss: 6.7522e-05 - mse: 1.3504e-04 - val_loss: 3.8258e-04 - val_mse: 7.6517e-04

Epoch 00023: val_loss did not improve from 0.00015
Epoch 24/50
95/95 [==============================] - 5s 47ms/step - loss: 5.5297e-05 - mse: 1.1059e-04 - val_loss: 1.7006e-04 - val_mse: 3.4013e-04

Epoch 00024: val_loss did not improve from 0.00015
Epoch 25/50
95/95 [==============================] - 4s 42ms/step - loss: 4.8758e-05 - mse: 9.7516e-05 - val_loss: 3.2075e-04 - val_mse: 6.4150e-04

Epoch 00025: val_loss did not improve from 0.00015
Epoch 26/50
95/95 [==============================] - 4s 42ms/step - loss: 5.5060e-05 - mse: 1.1012e-04 - val_loss: 1.6371e-04 - val_mse: 3.2741e-04

Epoch 00026: val_loss did not improve from 0.00015

In [14]:
pred = model.predict(test_data)

In [15]:
rescaled_y_test = scaler1.inverse_transform(np.array(y_test).reshape(-1, 1))
rescaled_pred = scaler1.inverse_transform(np.array(pred).reshape(-1,1))

In [16]:
# 평가지표 함수
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, r2_score

def confirm_result(y_test, y_pred):
    MAE = mean_absolute_error(y_test, y_pred)
    RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
    MSLE = mean_squared_log_error(y_test, y_pred)
    RMSLE = np.sqrt(mean_squared_log_error(y_test, y_pred))
    R2 = r2_score(y_test, y_pred)
        
    pd.options.display.float_format = '{:.5f}'.format
    Result = pd.DataFrame(data=[MAE,RMSE, RMSLE, R2],
                            index = ['MAE','RMSE', 'RMSLE', 'R2'],
                            columns=['Results'])
    return Result

In [17]:
confirm_result(rescaled_y_test[20:], rescaled_pred)

         Results
MAE   1981.30453
RMSE  2870.28895
RMSLE    0.02753
R2       0.98024