### LSTM 을 활용한 주가 예측 모델
##### 주가 보조지표 추가, 환율 데이터 추가 (환율데이터 minmax sclaing)

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import datetime as dt


%matplotlib inline
warnings.filterwarnings('ignore')

sqlite DB에서 데이터 불러오기

In [7]:
import sqlite3
con = sqlite3.connect(r"C:\Users\구남이\OneDrive\바탕 화면\활동들\한이음 멘토링\stock.db")
df = pd.read_sql("SELECT * FROM '039490'", con, index_col=None)
df.rename(columns={'index':'date'}, inplace=True)
df = df.set_index('date')
df.index = pd.DatetimeIndex(df.index)
df.sort_index(ascending=True, inplace=True)
df

             open   high    low  close   volume
date
2004-04-23   6076   6799   5353   5353  1415109
2004-04-26   5436   5741   5261   5398   343283
2004-04-27   5452   5482   5033   5063   299489
2004-04-28   5071   5452   4995   5444   182604
2004-04-29   5117   5436   5025   5101   109911
...           ...    ...    ...    ...      ...
2022-05-11  87500  87500  85500  85800   108071
2022-05-12  84700  85300  82700  83200   104007
2022-05-13  84000  87400  83500  85800    86525
2022-05-16  86900  87600  85700  85900    55383
2022-05-17  85000  87600  85000  87600    55677

[4471 rows x 5 columns]

In [8]:
# 이동평균선 추가
ma = [5,20,60,120]
for days in ma:
    df['ma_'+str(days)] = df['close'].rolling(window = days).mean()
df.dropna(inplace=True)
df

,open,high,low,close,volume,ma_5,ma_20,ma_60,ma_120
date,,,,,,,,,
2004-10-14,3959,4066,3906,4035,171655,3940.8,3963.60,3421.083333,3346.366667
2004-10-15,4066,4096,3959,3990,128530,3959.2,3946.85,3442.283333,3335.008333
2004-10-18,3997,3997,3860,3868,77233,3944.0,3935.05,3461.383333,3322.258333
2004-10-19,3868,3914,3830,3853,63272,3935.0,3922.90,3481.183333,3312.175000
2004-10-20,3807,3853,3769,3769,118227,3903.0,3909.60,3499.450000,3298.216667
...,...,...,...,...,...,...,...,...,...
2022-05-11,87500,87500,85500,85800,108071,89460.0,94620.00,97348.333333,100015.833333
2022-05-12,84700,85300,82700,83200,104007,87480.0,93785.00,97120.000000,99788.333333
2022-05-13,84000,87400,83500,85800,86525,86360.0,93050.00,96945.000000,99603.333333
2022-05-16,86900,87600,85700,85900,55383,85740.0,92440.00,96716.666667,99435.833333
2022-05-17,85000,87600,85000,87600,55677,85660.0,91940.00,96520.000000,99286.666667

In [9]:
! pip install ta
import ta

H, L, C, V = df['high'], df['low'], df['close'], df['volume']

# df['bol_high'] = ta.volatility.bollinger_hband(C)
# df['bol_low']  = ta.volatility.bollinger_lband(C)
df['MFI'] = ta.volume.money_flow_index(
    high=H, low=L, close=C, volume=V, fillna=True)

df['ADI'] = ta.volume.acc_dist_index(
    high=H, low=L, close=C, volume=V, fillna=True)

df['OBV'] = ta.volume.on_balance_volume(close=C, volume=V, fillna=True)
df['CMF'] = ta.volume.chaikin_money_flow(
    high=H, low=L, close=C, volume=V, fillna=True)

df['FI'] = ta.volume.force_index(close=C, volume=V, fillna=True)
df['EOM, EMV'] = ta.volume.ease_of_movement(
    high=H, low=L, volume=V, fillna=True)

df['VPT'] = ta.volume.volume_price_trend(close=C, volume=V, fillna=True)
df['NVI'] = ta.volume.negative_volume_index(close=C, volume=V, fillna=True)
df['VMAP'] = ta.volume.volume_weighted_average_price(
    high=H, low=L, close=C, volume=V, fillna=True)

# Volatility
df['ATR'] = ta.volatility.average_true_range(
    high=H, low=L, close=C, fillna=True)
df['BHB'] = ta.volatility.bollinger_hband(close=C, fillna=True)
df['BLB'] = ta.volatility.bollinger_lband(close=C, fillna=True)
df['KCH'] = ta.volatility.keltner_channel_hband(
    high=H, low=L, close=C, fillna=True)
df['KCL'] = ta.volatility.keltner_channel_lband(
    high=H, low=L, close=C, fillna=True)
df['KCM'] = ta.volatility.keltner_channel_mband(
    high=H, low=L, close=C, fillna=True)
df['DCH'] = ta.volatility.donchian_channel_hband(
    high=H, low=L, close=C, fillna=True)
df['DCL'] = ta.volatility.donchian_channel_lband(
    high=H, low=L, close=C, fillna=True)
df['DCM'] = ta.volatility.donchian_channel_mband(
    high=H, low=L, close=C, fillna=True)
df['UI'] = ta.volatility.ulcer_index(close=C, fillna=True)
# Trend
df['SMA'] = ta.trend.sma_indicator(close=C, fillna=True)
df['EMA'] = ta.trend.ema_indicator(close=C, fillna=True)
df['WMA'] = ta.trend.wma_indicator(close=C, fillna=True)
df['MACD'] = ta.trend.macd(close=C, fillna=True)
df['ADX'] = ta.trend.adx(high=H, low=L, close=C, fillna=True)
df['-VI'] = ta.trend.vortex_indicator_neg(
    high=H, low=L, close=C, fillna=True)
df['+VI'] = ta.trend.vortex_indicator_pos(
    high=H, low=L, close=C, fillna=True)
df['TRIX'] = ta.trend.trix(close=C, fillna=True)
df['MI'] = ta.trend.mass_index(high=H, low=L, fillna=True)
df['CCI'] = ta.trend.cci(high=H, low=L, close=C, fillna=True)
df['DPO'] = ta.trend.dpo(close=C, fillna=True)
df['KST'] = ta.trend.kst(close=C, fillna=True)
df['Ichimoku'] = ta.trend.ichimoku_a(high=H, low=L, fillna=True)
df['Parabolic SAR'] = ta.trend.psar_down(
    high=H, low=L, close=C, fillna=True)
df['STC'] = ta.trend.stc(close=C, fillna=True)
# Momentum
df['RSI'] = ta.momentum.rsi(close=C, fillna=True)
df['SRSI'] = ta.momentum.stochrsi(close=C, fillna=True)
df['TSI'] = ta.momentum.tsi(close=C, fillna=True)
df['UO'] = ta.momentum.ultimate_oscillator(
    high=H, low=L, close=C, fillna=True)
df['SR'] = ta.momentum.stoch(close=C, high=H, low=L, fillna=True)
df['WR'] = ta.momentum.williams_r(high=H, low=L, close=C, fillna=True)
df['AO'] = ta.momentum.awesome_oscillator(high=H, low=L, fillna=True)
df['KAMA'] = ta.momentum.kama(close=C, fillna=True)
df['ROC'] = ta.momentum.roc(close=C, fillna=True)
df['PPO'] = ta.momentum.ppo(close=C, fillna=True)
df['PVO'] = ta.momentum.pvo(volume=V, fillna=True)

df

Requirement already satisfied: ta in c:\anaconda3\envs\py64\lib\site-packages (0.10.1)
Requirement already satisfied: numpy in c:\anaconda3\envs\py64\lib\site-packages (from ta) (1.21.5)
Requirement already satisfied: pandas in c:\anaconda3\envs\py64\lib\site-packages (from ta) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda3\envs\py64\lib\site-packages (from pandas->ta) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda3\envs\py64\lib\site-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\anaconda3\envs\py64\lib\site-packages (from python-dateutil>=2.8.1->pandas->ta) (1.16.0)

,open,high,low,close,volume,ma_5,ma_20,ma_60,ma_120,MFI,...,SRSI,TSI,UO,SR,WR,AO,KAMA,ROC,PPO,PVO
date,,,,,,,,,,,,,,,,,,,,,
2004-10-14,3959,4066,3906,4035,171655,3940.8,3963.60,3421.083333,3346.366667,50.000000,...,0.000000,0.000000,0.000000,80.625000,-19.375000,0.000000,4035.000000,0.000000,0.000000,0.000000
2004-10-15,4066,4096,3959,3990,128530,3959.2,3946.85,3442.283333,3335.008333,100.000000,...,0.000000,-100.000000,10.437710,44.210526,-55.789474,0.000000,4012.552770,0.000000,-0.089039,-2.042123
2004-10-18,3997,3997,3860,3868,77233,3944.0,3935.05,3461.383333,3322.258333,63.094240,...,0.000000,-100.000000,8.986175,3.389831,-96.610169,0.000000,3942.932156,0.000000,-0.400381,-6.300643
2004-10-19,3868,3914,3830,3853,63272,3935.0,3922.90,3481.183333,3312.175000,48.569734,...,0.000000,-100.000000,11.969112,8.646617,-91.353383,0.000000,3901.746168,0.000000,-0.671367,-10.668185
2004-10-20,3807,3853,3769,3769,118227,3903.0,3909.60,3499.450000,3298.216667,34.143780,...,0.000000,-100.000000,10.299003,0.000000,-100.000000,0.000000,3842.238240,0.000000,-1.046892,-11.088785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-11,87500,87500,85500,85800,108071,89460.0,94620.00,97348.333333,100015.833333,20.752387,...,0.000000,-35.840057,35.399603,2.173913,-97.826087,-6237.352941,90199.196670,-11.180124,-2.713977,13.360541
2022-05-12,84700,85300,82700,83200,104007,87480.0,93785.00,97120.000000,99788.333333,12.838422,...,0.000000,-41.172548,30.013090,3.311258,-96.688742,-7757.058824,88144.782424,-12.421053,-3.256853,17.068667
2022-05-13,84000,87400,83500,85800,86525,86360.0,93050.00,96945.000000,99603.333333,21.838865,...,0.465648,-41.365973,35.628149,23.134328,-76.865672,-8756.470588,87818.348262,-8.917197,-3.425052,17.474909
2022-05-16,86900,87600,85700,85900,55383,85740.0,92440.00,96716.666667,99435.833333,27.820394,...,0.482154,-41.369557,35.274041,25.000000,-75.000000,-9055.294118,87435.108308,-8.519702,-3.513176,14.094875
2022-05-17,85000,87600,85000,87600,55677,85660.0,91940.00,96520.000000,99286.666667,33.908928,...,0.754072,-39.049701,43.616559,38.281250,-61.718750,-9017.058824,87450.069862,-6.808511,-3.393206,11.296397

In [10]:
# 환율 데이터
import FinanceDataReader as fdr

start_date = str(df.index[0])[0:10]
end_date = str(df.index[-1])[0:10]
rate_df = pd.DataFrame()
rate_df['USD/KRW_change'] = fdr.DataReader('USD/KRW', start=start_date, end=end_date)['Change']
rate_df['USD/EUR_change'] = fdr.DataReader('USD/EUR', start=start_date, end=end_date)['Change']
rate_df['USD/JPY_change'] = fdr.DataReader('USD/JPY', start=start_date, end=end_date)['Change']
rate_df['EUR/USD_change'] = fdr.DataReader('EUR/USD', start=start_date, end=end_date)['Change']
rate_df['CNY/KRW_change'] = fdr.DataReader('CNY/KRW', start=start_date, end=end_date)['Change']
rate_df['JPY/KRW_change'] = fdr.DataReader('JPY/KRW', start=start_date, end=end_date)['Change']
rate_df['AUD/USD_change'] = fdr.DataReader('AUD/USD', start=start_date, end=end_date)['Change']
rate_df['EUR/JPY_change'] = fdr.DataReader('EUR/JPY', start=start_date, end=end_date)['Change']
rate_df['USD/RUB_change'] = fdr.DataReader('USD/RUB', start=start_date, end=end_date)['Change']

rate_df

,USD/KRW_change,USD/EUR_change,USD/JPY_change,EUR/USD_change,CNY/KRW_change,JPY/KRW_change,AUD/USD_change,EUR/JPY_change,USD/RUB_change
Date,,,,,,,,,
2004-10-14,-0.0035,-0.0028,-0.0013,0.0028,-0.0035,-0.0023,0.0043,0.0015,-0.0001
2004-10-15,0.0009,-0.0072,-0.0029,0.0069,0.0009,0.0038,0.0008,0.0041,0.0000
2004-10-18,-0.0035,-0.0020,-0.0008,0.0024,-0.0035,-0.0026,-0.0055,0.0016,0.0002
2004-10-19,-0.0009,-0.0017,-0.0087,0.0018,-0.0009,0.0079,0.0023,-0.0073,0.0000
2004-10-20,0.0009,-0.0054,-0.0001,0.0054,0.0009,0.0009,0.0109,0.0055,-0.0001
...,...,...,...,...,...,...,...,...,...
2022-05-11,0.0020,0.0015,-0.0036,-0.0015,0.0037,0.0056,0.0003,-0.0051,-0.0317
2022-05-12,0.0091,0.0129,-0.0126,-0.0126,-0.0004,0.0220,-0.0120,-0.0250,-0.0580
2022-05-13,-0.0095,-0.0032,0.0068,0.0031,-0.0098,-0.0162,0.0124,0.0099,0.0197
2022-05-16,0.0015,-0.0020,-0.0002,0.0019,0.0015,0.0017,0.0045,0.0017,-0.0177
2022-05-17,-0.0108,-0.0110,0.0018,0.0111,-0.0037,-0.0126,0.0085,0.0129,0.0032

In [11]:
# df랑 rate_df 랑 인덱스 같은 것끼리 결합
df = pd.merge(df, rate_df, left_index=True, right_index=True)

In [12]:
from sklearn.preprocessing import MinMaxScaler
# 환율 변수를 제외한 피처값 스케일링
df_feature = df.drop('close', axis=1)
scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(df_feature)
scaled_df = pd.DataFrame(scaled_df, columns = df_feature.columns, index = df.index)

scaled_df

,open,high,low,volume,ma_5,ma_20,ma_60,ma_120,MFI,ADI,...,PVO,USD/KRW_change,USD/EUR_change,USD/JPY_change,EUR/USD_change,CNY/KRW_change,JPY/KRW_change,AUD/USD_change,EUR/JPY_change,USD/RUB_change
2004-10-14,0.003777,0.004016,0.003642,0.119625,0.003413,0.003428,0.000000,0.000860,0.500000,0.294518,...,0.381687,0.474207,0.505311,0.394475,0.461774,0.474085,0.5625,0.487744,0.435967,0.300083
2004-10-15,0.004449,0.004199,0.003990,0.089071,0.003534,0.003313,0.000154,0.000774,1.000000,0.291081,...,0.364531,0.495031,0.438543,0.376796,0.524465,0.495007,0.5930,0.465745,0.453678,0.300360
2004-10-18,0.004015,0.003596,0.003341,0.052727,0.003434,0.003232,0.000294,0.000677,0.630942,0.287749,...,0.328756,0.474207,0.517451,0.400000,0.455657,0.474085,0.5610,0.426147,0.436649,0.300914
2004-10-19,0.003205,0.003090,0.003144,0.042836,0.003374,0.003148,0.000438,0.000601,0.485697,0.286351,...,0.292066,0.486512,0.522003,0.312707,0.446483,0.486448,0.6135,0.475173,0.376022,0.300360
2004-10-20,0.002821,0.002718,0.002745,0.081771,0.003163,0.003057,0.000571,0.000495,0.341438,0.280576,...,0.288532,0.495031,0.465857,0.407735,0.501529,0.495007,0.5785,0.529227,0.463215,0.300083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-11,0.528723,0.512472,0.538159,0.074576,0.567238,0.626130,0.684249,0.734314,0.207524,0.859703,...,0.493925,0.500237,0.570561,0.369061,0.396024,0.508321,0.6020,0.462602,0.391008,0.212524
2022-05-12,0.511128,0.499065,0.519817,0.071697,0.554184,0.620395,0.682586,0.732588,0.128384,0.856577,...,0.525076,0.533838,0.743551,0.269613,0.226300,0.488825,0.6840,0.385292,0.255450,0.139651
2022-05-13,0.506730,0.511862,0.525057,0.059311,0.546800,0.615346,0.681311,0.731184,0.218389,0.857336,...,0.528489,0.445812,0.499241,0.483978,0.466361,0.444127,0.4930,0.538655,0.493188,0.354946
2022-05-16,0.524953,0.513081,0.539469,0.037247,0.542712,0.611156,0.679647,0.729913,0.278204,0.855200,...,0.500094,0.497870,0.517451,0.406630,0.448012,0.497860,0.5825,0.489001,0.437330,0.251316
2022-05-17,0.513014,0.513081,0.534884,0.037455,0.542184,0.607722,0.678215,0.728782,0.339089,0.857920,...,0.476585,0.439659,0.380880,0.428729,0.588685,0.473134,0.5110,0.514142,0.513624,0.309227

In [13]:
# 타켓 스케일링
scaler1 = MinMaxScaler()
scaled_df['close'] = scaler1.fit_transform(df['close'].values.reshape(-1,1))

In [14]:
scaled_df

,open,high,low,volume,ma_5,ma_20,ma_60,ma_120,MFI,ADI,...,USD/KRW_change,USD/EUR_change,USD/JPY_change,EUR/USD_change,CNY/KRW_change,JPY/KRW_change,AUD/USD_change,EUR/JPY_change,USD/RUB_change,close
2004-10-14,0.003777,0.004016,0.003642,0.119625,0.003413,0.003428,0.000000,0.000860,0.500000,0.294518,...,0.474207,0.505311,0.394475,0.461774,0.474085,0.5625,0.487744,0.435967,0.300083,0.004173
2004-10-15,0.004449,0.004199,0.003990,0.089071,0.003534,0.003313,0.000154,0.000774,1.000000,0.291081,...,0.495031,0.438543,0.376796,0.524465,0.495007,0.5930,0.465745,0.453678,0.300360,0.003890
2004-10-18,0.004015,0.003596,0.003341,0.052727,0.003434,0.003232,0.000294,0.000677,0.630942,0.287749,...,0.474207,0.517451,0.400000,0.455657,0.474085,0.5610,0.426147,0.436649,0.300914,0.003121
2004-10-19,0.003205,0.003090,0.003144,0.042836,0.003374,0.003148,0.000438,0.000601,0.485697,0.286351,...,0.486512,0.522003,0.312707,0.446483,0.486448,0.6135,0.475173,0.376022,0.300360,0.003026
2004-10-20,0.002821,0.002718,0.002745,0.081771,0.003163,0.003057,0.000571,0.000495,0.341438,0.280576,...,0.495031,0.465857,0.407735,0.501529,0.495007,0.5785,0.529227,0.463215,0.300083,0.002496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-11,0.528723,0.512472,0.538159,0.074576,0.567238,0.626130,0.684249,0.734314,0.207524,0.859703,...,0.500237,0.570561,0.369061,0.396024,0.508321,0.6020,0.462602,0.391008,0.212524,0.519628
2022-05-12,0.511128,0.499065,0.519817,0.071697,0.554184,0.620395,0.682586,0.732588,0.128384,0.856577,...,0.533838,0.743551,0.269613,0.226300,0.488825,0.6840,0.385292,0.255450,0.139651,0.503237
2022-05-13,0.506730,0.511862,0.525057,0.059311,0.546800,0.615346,0.681311,0.731184,0.218389,0.857336,...,0.445812,0.499241,0.483978,0.466361,0.444127,0.4930,0.538655,0.493188,0.354946,0.519628
2022-05-16,0.524953,0.513081,0.539469,0.037247,0.542712,0.611156,0.679647,0.729913,0.278204,0.855200,...,0.497870,0.517451,0.406630,0.448012,0.497860,0.5825,0.489001,0.437330,0.251316,0.520258
2022-05-17,0.513014,0.513081,0.534884,0.037455,0.542184,0.607722,0.678215,0.728782,0.339089,0.857920,...,0.439659,0.380880,0.428729,0.588685,0.473134,0.5110,0.514142,0.513624,0.309227,0.530975

In [15]:
#train,test 분할
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(scaled_df.drop('close', 1), scaled_df['close'], test_size=0.3, random_state=0, shuffle=False)

In [16]:
# tensorflow dataset을 활용한 시퀀스 데이터셋 구성
import tensorflow as tf
def windowed_dataset(series, window_size, batch_size, shuffle):
    series = tf.expand_dims(series, axis=-1)
    ds = tf.data.Dataset.from_tensor_slices(series)
    ds = ds.window(window_size + 1, shift=1, drop_remainder=True)
    ds = ds.flat_map(lambda w: w.batch(window_size + 1))
    if shuffle:
        ds = ds.shuffle(1000)
    ds = ds.map(lambda w: (w[:-1], w[-1]))
    return ds.batch(batch_size).prefetch(1)

In [17]:
# hyper parameter 정의 
WINDOW_SIZE=20
BATCH_SIZE=32

In [18]:
# trian_data는 학습용 데이터셋, test_data는 검증용 데이터셋
train_data = windowed_dataset(y_train, WINDOW_SIZE, BATCH_SIZE, True)
test_data = windowed_dataset(y_test, WINDOW_SIZE, BATCH_SIZE, False)

In [19]:
 # 모델 생성
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Conv1D, Lambda
from tensorflow.keras.losses import Huber
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

model = Sequential([
    # 1차원 feature map 생성
    Conv1D(filters=32, kernel_size=5,
        padding="causal",
        #활성화함수를 relu로 정의
        activation="relu",
        input_shape=[WINDOW_SIZE, 1]),
    # LSTM
    LSTM(16, activation='tanh'),    
    Dense(16, activation="relu"),
    Dense(1)])

loss = Huber()
optimizer = Adam(0.005) ##3compile 시 optimizer는 adam으로 사용
model.compile(loss=Huber(), optimizer=optimizer, metrics=['mse'])

earlystopping = EarlyStopping(monitor='val_loss', patience=10)

filename = os.path.join('tmp', 'ckeckpointer.ckpt')
checkpoint = ModelCheckpoint(filename, 
                            save_weights_only=True,
                            save_best_only=True, 
                            monitor='val_loss',
                            verbose=1)

In [20]:
# 모델 학습
history = model.fit(train_data, 
                validation_data=(test_data), 
                epochs=50,   #50번 학습
                callbacks=[checkpoint, earlystopping])

Epoch 1/50
95/95 [==============================] - 17s 79ms/step - loss: 0.0015 - mse: 0.0030 - val_loss: 0.0020 - val_mse: 0.0041

Epoch 00001: val_loss improved from inf to 0.00205, saving model to tmp\ckeckpointer.ckpt
Epoch 2/50
95/95 [==============================] - 4s 36ms/step - loss: 1.7101e-04 - mse: 3.4202e-04 - val_loss: 0.0026 - val_mse: 0.0051

Epoch 00002: val_loss did not improve from 0.00205
Epoch 3/50
95/95 [==============================] - 4s 40ms/step - loss: 1.4737e-04 - mse: 2.9474e-04 - val_loss: 0.0033 - val_mse: 0.0067

Epoch 00003: val_loss did not improve from 0.00205
Epoch 4/50
95/95 [==============================] - 3s 34ms/step - loss: 1.6301e-04 - mse: 3.2602e-04 - val_loss: 0.0042 - val_mse: 0.0084

Epoch 00004: val_loss did not improve from 0.00205
Epoch 5/50
95/95 [==============================] - 3s 33ms/step - loss: 1.1602e-04 - mse: 2.3205e-04 - val_loss: 0.0031 - val_mse: 0.0062

Epoch 00005: val_loss did not improve from 0.00205
Epoch 6/50
95/95 [==============================] - 4s 40ms/step - loss: 1.1164e-04 - mse: 2.2329e-04 - val_loss: 0.0026 - val_mse: 0.0052

Epoch 00006: val_loss did not improve from 0.00205
Epoch 7/50
95/95 [==============================] - 4s 40ms/step - loss: 1.0282e-04 - mse: 2.0564e-04 - val_loss: 0.0035 - val_mse: 0.0070

Epoch 00007: val_loss did not improve from 0.00205
Epoch 8/50
95/95 [==============================] - 4s 38ms/step - loss: 1.0703e-04 - mse: 2.1406e-04 - val_loss: 0.0025 - val_mse: 0.0049

Epoch 00008: val_loss did not improve from 0.00205
Epoch 9/50
95/95 [==============================] - 4s 38ms/step - loss: 8.3040e-05 - mse: 1.6608e-04 - val_loss: 0.0026 - val_mse: 0.0051

Epoch 00009: val_loss did not improve from 0.00205
Epoch 10/50
95/95 [==============================] - 4s 40ms/step - loss: 9.6886e-05 - mse: 1.9377e-04 - val_loss: 0.0024 - val_mse: 0.0047

Epoch 00010: val_loss did not improve from 0.00205
Epoch 11/50
95/95 [==============================] - 4s 35ms/step - loss: 7.2538e-05 - mse: 1.4508e-04 - val_loss: 0.0018 - val_mse: 0.0037

Epoch 00011: val_loss improved from 0.00205 to 0.00183, saving model to tmp\ckeckpointer.ckpt
Epoch 12/50
95/95 [==============================] - 4s 36ms/step - loss: 7.2368e-05 - mse: 1.4474e-04 - val_loss: 0.0029 - val_mse: 0.0059

Epoch 00012: val_loss did not improve from 0.00183
Epoch 13/50
95/95 [==============================] - 4s 34ms/step - loss: 6.8610e-05 - mse: 1.3722e-04 - val_loss: 0.0030 - val_mse: 0.0059

Epoch 00013: val_loss did not improve from 0.00183
Epoch 14/50
95/95 [==============================] - 3s 34ms/step - loss: 7.0250e-05 - mse: 1.4050e-04 - val_loss: 0.0023 - val_mse: 0.0045

Epoch 00014: val_loss did not improve from 0.00183
Epoch 15/50
95/95 [==============================] - 4s 35ms/step - loss: 7.2171e-05 - mse: 1.4434e-04 - val_loss: 0.0023 - val_mse: 0.0046

Epoch 00015: val_loss did not improve from 0.00183
Epoch 16/50
95/95 [==============================] - 4s 35ms/step - loss: 7.1924e-05 - mse: 1.4385e-04 - val_loss: 0.0019 - val_mse: 0.0038

Epoch 00016: val_loss did not improve from 0.00183
Epoch 17/50
95/95 [==============================] - 4s 39ms/step - loss: 9.4065e-05 - mse: 1.8813e-04 - val_loss: 0.0020 - val_mse: 0.0040

Epoch 00017: val_loss did not improve from 0.00183
Epoch 18/50
95/95 [==============================] - 4s 36ms/step - loss: 5.8210e-05 - mse: 1.1642e-04 - val_loss: 0.0022 - val_mse: 0.0043

Epoch 00018: val_loss did not improve from 0.00183
Epoch 19/50
95/95 [==============================] - 3s 32ms/step - loss: 5.7145e-05 - mse: 1.1429e-04 - val_loss: 0.0018 - val_mse: 0.0035

Epoch 00019: val_loss improved from 0.00183 to 0.00176, saving model to tmp\ckeckpointer.ckpt
Epoch 20/50
95/95 [==============================] - 3s 31ms/step - loss: 7.6158e-05 - mse: 1.5232e-04 - val_loss: 0.0018 - val_mse: 0.0036

Epoch 00020: val_loss did not improve from 0.00176
Epoch 21/50
95/95 [==============================] - 4s 34ms/step - loss: 5.7519e-05 - mse: 1.1504e-04 - val_loss: 0.0013 - val_mse: 0.0025

Epoch 00021: val_loss improved from 0.00176 to 0.00125, saving model to tmp\ckeckpointer.ckpt
Epoch 22/50
95/95 [==============================] - 4s 34ms/step - loss: 6.5438e-05 - mse: 1.3088e-04 - val_loss: 0.0021 - val_mse: 0.0042

Epoch 00022: val_loss did not improve from 0.00125
Epoch 23/50
95/95 [==============================] - 3s 31ms/step - loss: 5.5615e-05 - mse: 1.1123e-04 - val_loss: 0.0013 - val_mse: 0.0026

Epoch 00023: val_loss did not improve from 0.00125
Epoch 24/50
95/95 [==============================] - 4s 35ms/step - loss: 5.7080e-05 - mse: 1.1416e-04 - val_loss: 0.0019 - val_mse: 0.0038

Epoch 00024: val_loss did not improve from 0.00125
Epoch 25/50
95/95 [==============================] - 4s 36ms/step - loss: 5.8561e-05 - mse: 1.1712e-04 - val_loss: 0.0012 - val_mse: 0.0024

Epoch 00025: val_loss improved from 0.00125 to 0.00122, saving model to tmp\ckeckpointer.ckpt
Epoch 26/50
95/95 [==============================] - 3s 32ms/step - loss: 5.4599e-05 - mse: 1.0920e-04 - val_loss: 0.0018 - val_mse: 0.0036

Epoch 00026: val_loss did not improve from 0.00122
Epoch 27/50
95/95 [==============================] - 4s 35ms/step - loss: 6.0485e-05 - mse: 1.2097e-04 - val_loss: 0.0013 - val_mse: 0.0025

Epoch 00027: val_loss did not improve from 0.00122
Epoch 28/50
95/95 [==============================] - 4s 35ms/step - loss: 7.3727e-05 - mse: 1.4745e-04 - val_loss: 0.0010 - val_mse: 0.0020

Epoch 00028: val_loss improved from 0.00122 to 0.00102, saving model to tmp\ckeckpointer.ckpt
Epoch 29/50
95/95 [==============================] - 3s 30ms/step - loss: 6.2893e-05 - mse: 1.2579e-04 - val_loss: 0.0015 - val_mse: 0.0030

Epoch 00029: val_loss did not improve from 0.00102
Epoch 30/50
95/95 [==============================] - 3s 32ms/step - loss: 4.8597e-05 - mse: 9.7194e-05 - val_loss: 9.1967e-04 - val_mse: 0.0018

Epoch 00030: val_loss improved from 0.00102 to 0.00092, saving model to tmp\ckeckpointer.ckpt
Epoch 31/50
95/95 [==============================] - 3s 31ms/step - loss: 6.1299e-05 - mse: 1.2260e-04 - val_loss: 0.0012 - val_mse: 0.0024

Epoch 00031: val_loss did not improve from 0.00092
Epoch 32/50
95/95 [==============================] - 3s 32ms/step - loss: 4.7174e-05 - mse: 9.4347e-05 - val_loss: 0.0011 - val_mse: 0.0023

Epoch 00032: val_loss did not improve from 0.00092
Epoch 33/50
95/95 [==============================] - 4s 39ms/step - loss: 4.9096e-05 - mse: 9.8192e-05 - val_loss: 0.0015 - val_mse: 0.0030

Epoch 00033: val_loss did not improve from 0.00092
Epoch 34/50
95/95 [==============================] - 3s 32ms/step - loss: 5.4428e-05 - mse: 1.0886e-04 - val_loss: 9.6159e-04 - val_mse: 0.0019

Epoch 00034: val_loss did not improve from 0.00092
Epoch 35/50
95/95 [==============================] - 4s 36ms/step - loss: 5.9334e-05 - mse: 1.1867e-04 - val_loss: 0.0011 - val_mse: 0.0021

Epoch 00035: val_loss did not improve from 0.00092
Epoch 36/50
95/95 [==============================] - 3s 30ms/step - loss: 4.6874e-05 - mse: 9.3748e-05 - val_loss: 9.9566e-04 - val_mse: 0.0020

Epoch 00036: val_loss did not improve from 0.00092
Epoch 37/50
95/95 [==============================] - 3s 31ms/step - loss: 5.4574e-05 - mse: 1.0915e-04 - val_loss: 0.0011 - val_mse: 0.0022

Epoch 00037: val_loss did not improve from 0.00092
Epoch 38/50
95/95 [==============================] - 3s 32ms/step - loss: 5.8759e-05 - mse: 1.1752e-04 - val_loss: 0.0019 - val_mse: 0.0037

Epoch 00038: val_loss did not improve from 0.00092
Epoch 39/50
95/95 [==============================] - 3s 34ms/step - loss: 5.5149e-05 - mse: 1.1030e-04 - val_loss: 0.0014 - val_mse: 0.0028

Epoch 00039: val_loss did not improve from 0.00092
Epoch 40/50
95/95 [==============================] - 4s 38ms/step - loss: 5.2185e-05 - mse: 1.0437e-04 - val_loss: 0.0013 - val_mse: 0.0027

Epoch 00040: val_loss did not improve from 0.00092

In [21]:
pred = model.predict(test_data)

In [22]:
rescaled_y_test = scaler1.inverse_transform(np.array(y_test).reshape(-1, 1))
rescaled_pred = scaler1.inverse_transform(np.array(pred).reshape(-1,1))

In [23]:
# 평가지표 함수
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, r2_score

def confirm_result(y_test, y_pred):
    MAE = mean_absolute_error(y_test, y_pred)
    RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
    MSLE = mean_squared_log_error(y_test, y_pred)
    RMSLE = np.sqrt(mean_squared_log_error(y_test, y_pred))
    R2 = r2_score(y_test, y_pred)
        
    pd.options.display.float_format = '{:.5f}'.format
    Result = pd.DataFrame(data=[MAE,RMSE, RMSLE, R2],
                            index = ['MAE','RMSE', 'RMSLE', 'R2'],
                            columns=['Results'])
    return Result

In [24]:
confirm_result(rescaled_y_test[20:], rescaled_pred)

         Results
MAE   5623.06562
RMSE  8168.90404
RMSLE    0.07091
R2       0.83997